@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Arvo&family=Gantari&family=Plus+Jakarta+Sans:wght@300&family=Pragati+Narrow&display=swap');


.Contact{
    display: flex;
    position: relative;
    left: 30%;
    top: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 85%;
    overflow: hidden;
    font-family: 'Arvo', serif;
    width: 35%;
    border : 2.5px solid black;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);



}

.ContactHeading{
    font-size: 3.25rem;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: inline-block; 
    position: absolute;
    top: 0;
    left: 50px;
    margin: 20px;
 
    border-bottom: 5px solid black;
 
    width: auto;
    color: rgb(0, 0, 0);
}

.Background{
    
    background-color: rgba(0, 0, 0, 0.798);
    height: 85vh;
    width: 100%;

    
}

label {
    display: block;
    font-size: 1.5rem;
    font-family: 'Arvo', serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
   

}

textarea{
    display: block;
    font-size: 1.25rem;
    font-family: 'Arvo', serif;
    
    color: rgb(0, 0, 0);
    margin-top: 10px;
    
    position: relative;
    top: 10px;
    left: 10px;
   

}

#input{
    display: block; 
    font-size: 1.25rem;
    position: relative;
    top: 10px;
    padding: 5px;
}


#Submit{
    border-radius: 20px;
    background-color : rgba(0, 0, 0, 0.851);
    letter-spacing: -0.75px;
    font-family: 'Arvo', serif;
    color: white;
    padding: 0.5em;
    font-size: 1rem;
    padding-left: 0.9em;
    padding-right: 0.9em;
    margin-top: 5px;


}

#Submit:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}