
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Arvo&family=Plus+Jakarta+Sans:wght@300&family=Pragati+Narrow&display=swap');

.Container{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 50%;
    transition: margin-top .2s;
    background-color: rgba(0, 0, 0, 0.882);
    


}

Container.Box{
  position: relative;
  height: 45px;
  width: 480px;
  left: 50%;
  margin-left: -240px;
}

.VStack{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: start;
 
    height: 82.5%;
    overflow: hidden;
    font-family: 'Arvo', serif;
    
    position: relative;
   




}



.FooterText{
    font-weight: lighter;
    font-size: 1rem;
    font-family: 'Arvo', serif;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
   
}

#Title{
    font-size: 2rem;
    font: 'Pragati Narrow', sans-serif;
    font-weight: bold;
    color: white;
    border-bottom: 0.5px solid rgba(254, 254, 254, 0.985);
    border-radius: 1px;
    letter-spacing: 5px;
    text-align: start;
    
    
    
}


hr {
    display: flex;
    justify-content: center;
  
   
    border-top: 1.5px solid rgb(255, 255, 255);

    

    
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));


   
  }

