
.Box{
    display: inline-block;
    justify-content: flex;
    background-color: rgb(241, 241, 241);
    height: 50vh;
    margin-top: 2rem;
    width: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    right: 250px;
    top:  -100px;

    overflow: hidden;


    
    

    


    

}


.Heading{
    font-size: 2.75rem;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: bold;
    margin: 20px;
    padding: 15px; 
    border-bottom: 5px solid black;
    padding-bottom: 1px;
    width: auto;
    
    color: rgb(0, 0, 0);
    background-color: rgba(161, 157, 157, 0.58);
    
    border-radius: 20px;
    
    
}

.Text{
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    justify-content: flex-start;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding-left: 35px;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    padding: 2em
}







.Icons{
    display:flex;
    justify-content: start;
    align-items: center;


}


.Icon{
    padding-right: 0.75rem;
    position: relative;
    left: 35px;
    top: -20px;


    margin-bottom: -1.75rem;
    font-size: 2.5rem;

    transition: 0.25s ease-out;


}


.Icon:hover{
    
    color: rgb(255, 255, 255);
    cursor: pointer;




}


.Card{
    display: inline-block;
    position: relative;
    justify-content: center;

    width: 20vw;
    height: 50vh;
    align-items: center;
    left: 100px;

    font-family: Pragati Narrow, sans-serif;
    font-size: 1.5rem;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(29, 29, 29, 0.57); 


}

.CardHeading{
    background-color: rgba(57, 138, 151, 0.828);
    border-left: 6px solid rgb(89, 62, 158);
    border-right: 6px solid rgba(89, 62, 158);
    border-top: 2px solid rgba(89, 62, 158);
    border-bottom: 2px solid rgba(89, 62, 158);
    box-shadow: rgba(0, 0, 0, 0.995);
    margin: 0.75rem;
    padding: 0.75rem;
    border-radius: 10px;

    
}